@font-face {
    font-family: 'pdark-font';
    src: url("/src/assets/fonts/pdark.woff")
    //src: url("../scss/fonts/pdark.woff");
}


@font-face {
    font-family: 'roboto-medium';
    src: url("/src/assets/fonts/Roboto/Roboto-Medium.ttf")
    //src: url("../scss/fonts/pdark.woff");
}

$main-font: 'pdark-font';
$second-font: 'roboto-medium';
